.cardContainer{
    margin-right: 48px;    
    padding-bottom: 100px;
}

.flexrow{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
}